@model User
@{
    ViewBag.Title = "Şifre Güncelleme";
}
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizantal" }))
{
    @Html.HiddenFor(model => Model.Id)
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <br />
            <br />
            <h5><b>ŞİFRE GÜNCELLEME</b></h5>
            <br />
            <label class="text-danger">@Html.Raw(ViewBag.Error)</label>
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="row" style="margin-bottom:5px">
                    <div class="col-lg-3">
                        <label class="login2 float-end"> Kullanıcı Adı</label>
                    </div>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @disabled = "disabled", @style = "font-weight: bold;font-size:12px !Important", @autocomplete = "off" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-lg-3">
                        <label class="login2 float-end"> Adı Soyadı</label>
                    </div>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.FullName, new { @type = "text", @disabled = "disabled", @class = "form-control", @style = "font-weight: bold;font-size:12px !Important;", @autocomplete = "off" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-lg-3">
                        <label class="login2 float-end"> Eski Şifre</label>
                    </div>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", @style = "font-weight: bold;;font-size:12px !Important;", @type = "password", @autocomplete = "new-password" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-lg-3">
                        <label class="login2 float-end"> Yeni Şifre</label>
                    </div>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @style = "font-weight: bold;;font-size:12px !Important;", @type = "password", @autocomplete = "new-password" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-lg-3">
                        <label class="login2 float-end"> Tekrar Şifre  </label>
                    </div>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @style = "font-weight: bold;font-size:12px !Important", @type = "password", @autocomplete = "new-password" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success float-end" style="margin:5px"><i class="fa fa-save"></i> Kaydet</button>
                        @if (User.IsInRole("Yönetici"))
                        {
                            <a href="/User/Index" class="btn btn-warning float-end" style="margin:5px"><i class="fa fa-backward"></i> Vazgeç</a>
                        }
                        else
                        {
                            <a href="/Home/Index" class="btn btn-warning float-end" style="margin:5px"><i class="fa fa-backward"></i> Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
